* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
;
}

body {
    background-color: #0A1F44;
}

h1 {
    text-align: center;
    font-weight: 600px;
    margin-top: 120px;
    font-size: 50px;
    color: #F1F3F5;
}

.casa {
    display: block;
    width: 350px;
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: -150px;
}

main {
    width: 375px;
    background-color: rgb(212, 209, 204);
    margin: 40px auto 100px auto;
    padding: 40px 30px;
    border-radius: 10px;
}

.icone {
    width: 50px;
}

label {
    color: #333333;
    font-size: 14px;
    
}

select, input {
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 10px;
}

button {
    width: 100%;
    height: 40px;
    background-color: #6009a7;
    color: #F1F3F5;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px #6009a7 solid;
    border-radius: 8px;
    margin-top: 35px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 20px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#imagemSecreta {
  position: absolute;
  right: 12%;
  top: 90%;
  transform: translateY(-50%);

  width: 300px;        /* tamanho do banner */
  height: auto;

  display: none;       
  z-index: 999;        /* fica acima de tudo */
}
